* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --color-0:#222222;
    --color-1:#333333;
    --color-2:#444444;
    --color-3:#555555;
    --color-4:#666666;
    --color-5:#777777;
    --color-6:#888888;
    --color-7:#999999;
    --color-8:#AAAAAA;
    --color-9:#BBBBBB;
    --color-10:#CCCCCC;
    --color-11:#DDDDDD;
    --color-12:#EEEEEE;
    --color-13:#FFFFFF;
    --item-bk-color: var(--color-2);
    --item-bk-color-hover: var(--color-3);
    --item-bk-color-active: var(--color-1);
    --item-text-color: var(--color-11);
    --item-text-color-hover: var(--color-11);
    --item-text-color-active: var(--color-13);
    --item-text2-color: var(--color-7);
    --item-text2-color-hover: var(--color-7);
    --item-text2-color-active: var(--color-7);
    --item-border-radius:6px;

    --panel-bk-color: #181818;
    --panel-border: #E0E0E0;
    --panel-border-radius: 0px;


}
